html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
/*img{*/
/*  width: 100%;*/
/*}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
.el-overlay-dialog .modal-chitiet{
  margin-top: 12px;
}